* {
  box-sizing: border-box;
}

body,
h1,
h2,
ul,
li,
button,
div,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  text-transform: none;
  cursor: pointer;
}

input {
  border: none;
}

// input:focus {
//   outline: none;
// }
