@import './styles/main.scss';
@import './styles/variables.scss';

.starter {
  font-size: 18px;
  background: linear-gradient(to top, #191217, #191217 60%, #06426A);
  height: 100vh;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
